.Philosophy{
    margin-top: 20px;
    text-align: left;
}

.Quote{
    text-align: left;
}

.bold{
    font-weight: bolder;
}

<<<<<<< HEAD
.quote{
    font-size: 15px;
    text-align: left;
=======
img.rounded-corners{
    border-radius: 30px;
>>>>>>> origin/main
}